#scoring_algorithm_js
circuits/scoring_algorithm_js/

#circom
*.r1cs
*.sym

#setup
*.ptau
tmp
#zkey
*.zkey
verification_key.json
verifier.sol

#proof
proof.json
public.json
*.wtns

#.env
sequencer/.env

# etc
.DS_Store
var