#node_modules
node_modules/

#scoring_algorithm_js
circuits/scoring_algorithm_js/
circuits/build/

#circom
*.r1cs
*.sym

#setup
*.ptau

#zkey
*.zkey
verification_key.json
verifier.sol

#proof
proof.json
public.json
*.wtns